.singleProductSection{
    padding-bottom: 80px;
}
.productDetails .image{
    width: 450px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.product2Section{
    align-items: center;
}
.productContent {
    width:448px;
    margin: 0 auto;
}
 
.productDetails .image img{
    width: 100%;
    margin-top:-70px;
}

.buyProductForm{
    width: 600px ;
    margin: 0 auto;
    border-radius: 15px;
    padding: 50px 10px;
    background-color: #f2f2f2;
    
}
@media only screen and (max-width: 600px) {
    .singleProductSection{
        padding-bottom: 50px;
    }
    .productDetails .image{
        width: 300px;
        height: 300px;
        
    }
    .product2Section{
        align-items: center;
    }
    .productContent {
        width:300px;
    }
     
    .productDetails .image img{
        margin-top:-40px;
    }
    
    .buyProductForm{
        width: 300px ;
        
        
    }
}