
  .formSection{
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      align-items: center;
      background-color: #f6f6f6;
      padding: 40px;
      
  }
  .addFormSection{
      width: 80%;
      background-color: white;
      border-radius: 15px;
  }
  .destinationSection{
      width: 80%;
      margin: 0 auto;
  }
  .destinationSection label{
      font-size: 20px;
      margin-bottom: 8px;
      font-weight: 600;
  }
  .destinationSection input,textarea {
      width:100%;
      margin-bottom: 20px;
      padding: 8px;
      
  }
  .destinationSection .submit{
      width: 30%;
      margin-top: 15px;
  }
  @media only screen and (max-width: 600px) {
    .destinationSection{
        width: 95%;
        margin: 0 auto;
    }

  }